<h2>Log In</h2>

<.form :let={f} for={} action={~p"/login"} method="post">
  <div>
    <label>Email address</label>
    <.input field={f[:email]} type="text" />
  </div>

  <div>
    <label>Password</label>
    <.input field={f[:password]} type="password" />
  </div>

  <div>
    <button type="submit">Log in</button>
  </div>
</.form>
